#content {
    font-size: 1.6vw;
    background-image: url("../images/map.jpg") ;
}

#top {
    font-size: 2vw;
}

#bottom {
    font-size: 2vw;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 1024px;
    height: 768px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
h6 {
    font-size: 2vw;
}
