#fetch_project_section {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    margin-top: 4vw;
    padding: 2vw;
}


#fetch_project_section #project_select {
    margin-bottom: 1vw;
}

#datetime_filter {
    width: 60%;
}

#down_buttons{
    margin-top: 2vw;
}

#down_buttons button{
    margin-right: 2vw;
}

#export_button_selection {
    text-align:  center;
    margin-bottom: 1vw;
}

#generate_csv_section {
    margin-top: 1vw;
}

#export_final {
    margin-top: 1vw;
    text-align: center;
}

html, body {margin: 0; height: 100%; overflow-x: hidden; overflow-y: auto}

body {
    background-image: url('images/sup_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}