* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: 0;
}

.navbar {
    background-color: black;
}

.navbar .navbar-brand {
    color: #7D6B91;
    font-size: 1vw;
    font-weight: bold;
    margin: 0;
    padding: 0.2vw;
}

.dashboard-btn {
    margin: 5vw;
    font-size: 1.5vw;
}

.dashboard-btn:hover {
    background: #7D6B91;
    color: gold;
}

.dashboard-btn:hover .fas {
    color: gold;
}

.navbar .fa-user-cog,
.navbar .fa-sign-out-alt {
    color: lightgrey;
}

.navbar .fa-user-cog:hover,
.navbar .fa-sign-out-alt:hover {
    color: #7D6B91;
}

/* Transition CSS*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}


.register-page {
    background-image: url('images/back.jpg');
}

#register-form {
    width: 50%;
    margin: 0 auto;
    margin-top: 5vw;
    padding: 1vw;
    background-color: lightslategrey;
    color: whitesmoke;
    opacity: 0.8;
}

#register-form input:hover,
#register-form input:focus {
    border-color: #011627;
    border-width: 0.1vw;
}


#register-form a {
    color: #011627;
    padding: 0.5vw;
}

.error-popup {
    color: darkred;
    font-weight: bold;
    font-size: 0.7vw;
}

.success-popup {
    color: green;
    font-weight: bold;
    font-size: 0.7vw;
}


.confirm-message {
    background-color: lightslategray;
    width: 50%;
    margin: 0 auto;
    margin-top: 5vw;
    padding: 2vw;
    color: whitesmoke;
    opacity: 0.95;
}

.confirm-message a {
    color: #011627;
    margin-top: 0.5vw;
}

.confirm-message button {
    margin-right: 1vw;
}

.details {
    width: 25%;
    margin: 0 auto;
    background-color: lightslategray;
    padding: 2vw;
    margin-top: 2vw;
    font-weight: bold;
    color: whitesmoke;
}

.details p {
    padding: 0.5vw;
}

.details p:hover {
    color: #011627;
}

.details figure .avatar-image {
    margin-bottom: 0;
}

.avatar-image {
    width: 180px;
    height: 180px;
    margin: 2vw;
}

#profile-pic-upload {
    font-size: 0.5vw;
    padding: 1vw;
    padding-top: 0;
}

.profile-upload-label {
    font-size: 0.6vw;
}

.details .alert {
    font-size: 0.6vw;
    padding: 0.2vw;
}

.grid-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 2vw;
    width: 2vw;
}

#product_table td {
    background-color: whitesmoke;
    border-width: 0.1px;
}

.dataTables_filter {
    display: none;
}

#product_table {
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

#dropdown_form_list {
    font-size: 1vw;
    padding: 0.5vw;
    color: #7D6B91;
}

.modal-form .image-upload>input {
    display: none;
}

.modal-form .image-upload label {
    margin: 0;
}

.modal-form .image-upload {
    width: 150px;
    height: 200px;
    display: table;
    background-color: #ccc;
}


.modal-form .image-upload label {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.modal-form .image-upload img {
    max-width: 100px;
    max-height: 150px;
}

.modal-form .form-row .upload-section {
    padding: 2vw;
    padding-bottom: 0;
    padding-top: 1vw;
}

.modal-form .form-row .upload-section a {
    color: red;
    cursor: pointer;
}

.hide {
    display: none;
}

.btn-outline-success {
    margin-left: 10vw;
}

.btn-sku-form {
    margin-left: 0vw;
    margin-left: 16.6vw;
}

.btn-outline-tab {
    margin-left: 0;
    margin-left: 8.9vw;
}

.btn-outline-tab-one {
    margin-left: 0;
    margin-left: 8vw;
}

.tableFixHead {
    overflow-y: auto;
    height: 850px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

#probe-upload {
    font-size: 1.4vw;
    text-align: center;
}

#proprobe-upload #probe-upload-container {
    width: 25%;
}

#probe-upload input {
    display: none;
}

#probe-upload i:hover {
    color: #7D6B91;
}

#loading-spinner {
    display: none;
    width: 4rem;
    height: 4rem;
}

.nav-back {
    margin-right: 1vw;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: black;
}

.active {
    color: white;
    border-top-left-radius: 1vw;
    border-top-right-radius: 0.6vw;
    background: purple;
}

#ranking_profile_pic {
    width: 100%;
    margin: 0 auto;
}

.leader_board_pic {
    width: 2vw;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 55%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#main_div {
    display: none;
}

/* Customize the label (the container) */
.check_box_container {
    margin-top: 1vw;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check_box_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.check_box_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_box_container:hover input~.check_box_checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_box_container input:checked~.check_box_checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check_box_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_box_container input:checked~.check_box_checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_box_container .check_box_checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}