html, body {margin: 0; height: 100%; overflow-x: hidden; overflow-y: auto}

#content {
    background-image: url('images/sup_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#create-project-form {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 2vw;
    margin-top: 10%;
}    