#probe_qa_counter {
    margin-top: 1vw;
    text-align: center;
}

#probe_hunt_section {
    opacity: 1;
}


#probe_qa_options {
    text-align: center;
}

#probe_qa_options button {
    padding: 0.5vw 2vw;
    cursor: pointer;
    /* Mouse pointer on hover */
}

.qa_button {
    padding: 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 60%;
}

.qa_button :hover {
    background-color: black;
    color: white;
}

#probe_hunt_section {
    margin-top: 0;
    width: 90%;
}

#over_counter_section {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    margin-top: 1vw;
    padding: 0.5vw;
}

.overall-counter {
    margin-top: 1vw;
}

.modal {
    overflow: auto !important;
}

#rename_alert {
    margin-top: 1vw;
}

#dvc_rename_alert {
    margin-top: 1vw;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

#output {
    color: purple;
    font-weight: bolder;
    font-size: 1vw;
}

#counters {
    background: transparent;
    padding: 0;
    opacity: 1;
    border-radius: 0;
}

#time_title {
    color: darkturquoise;
}

.active_btn {
    background-color: black;
    color: white;
}

#options_hunt {
    margin-top: 0.4vw;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.tablinks{
    background: transparent; 
    border: none;
    border-bottom: solid 2px purple;
    padding: 0.7vw;
    margin-right: 1vw;
}

.active{
    color: white;
    border-top-left-radius: 1vw;
    border-top-right-radius: 0.6vw;
    background: purple;
}

#qa_probe .modal-dialog, #add_reference .modal-content {
    /* 80% of window height */
    height: 85%;
}

#qa_probe .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

#tab_buttons{
    background: white;
    padding: 0.4vw;
}
#over_counter_section {
    color: white;
    background: transparent;
}

#probe_hunt_section {
    color: white;
    background: transparent;
}


#qa_probe .modal-content{
    color: gray;
}

.overall-counter {
    color: black;
}
.card {
    background-color: transparent;
    backdrop-filter: blur(1vw);
}
.card-body {
    padding: 0;
}

.modal-backdrop {
    position: unset;
}