html, body {margin: 0; height: 100%; overflow-x: hidden; overflow-y: auto}

#content {
    background-image: url('images/sup_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#probe_upload_section {
    width: 50%;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    margin-top: 2vw;
    padding: 1vw;
}

#probe_upload_section #project_name {
    margin-bottom: 1vw;
}

#probe_upload_section #probe-upload {
    margin-top: 2vw;
}

#ref-upload-container {
    margin-top: 1vw;
}

#radar-upload-container {
    margin-top: 1vw;
}

#probe-upload-container {
    margin-top: 1vw;
}

.active_btn{
    background-color: black;
    color: white;
}

#loading-spinner-ref{
    display: none;
}
#loading-spinner-radar{
    display: none;
}

#ticket_section{
    margin-top: 1vw;
}

.btn-outline-success{
    margin:0;
    margin-left:0.7vw;
}

#ticket_message {
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

#ticket_message #ticket_id_value{
    background-color: orangered;
    color: white;
    border-radius: 75px;
    padding: 0.4vw;
}

#ticket_message #project_name_value{
    background-color: purple;
    color: white;
    border-radius: 75px;
    padding: 0.4vw;
}

.card {
    margin-top: 10%;
}
.container-fluid {
    padding-left: 15% !important;
    padding-right: 15% !important;
}