#probe_upload_section {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    margin-top: 4vw;
    padding: 2vw;
}

#probe_upload_section #project_name {
    margin-bottom: 1vw;
}

#probe_upload_section #probe-upload {
    margin-top: 2vw;
}

#ref-upload-container {
    margin-top: 1vw;
}

#probe-upload-container {
    margin-top: 1vw;
}

.active_btn{
    background-color: black;
    color: white;
}

#loading-spinner-ref{
    display: none;
}