html, body {margin: 0; height: 100%; overflow: hidden}

body {
    background-image: url('images/wallpaper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#probe_hunt_section {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    opacity: 0.8;
    margin-top: 3vw;
    padding: 2vw;
}

#hunter_counter {
    padding: 2vw;
}

#probe_hunt_section #project_name {
    margin-bottom: 1vw;
}

#probe_hunt_section #probe_hunt_options {
    margin-top: 1vw;
    text-align: center;
}

#probe_hunt_section #probe_hunt_options button {
    padding: 0.5vw 2vw;
    cursor: pointer;
    /* Mouse pointer on hover */
}

#exit_btn i,
#exit_btn {
    color: orangered;
}

#exit_btn:hover {
    background-color: black;
    color: white;
}

#continue_btn i,
#continue_btn {
    color: royalblue;
}

#continue_btn:hover {
    background-color: black;
    color: white;
}

#probe_hunt_counter {
    margin-top: 1vw;
    text-align: center;
}

.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

#project_title {
    color: green;
}

#brand_title {
    color: royalblue;
}

#client_category_title {
    color: orangered;
}

#probe_id_title {
    color: purple;
}

#hunt_information {
    margin-top: 2vw;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

#output {
    color: purple;
    font-weight: bolder;
    font-size: 1vw;
}

#qa_error{
    color: red;
}

#system_error{
    color: orangered;
}

.green_icon{
    color: #4caf50;
}