#ref_hunt_options {
    margin-top: 1vw;
    text-align: center;
}

#ref_hunt_options button {
    padding: 0.5vw 2vw;
    cursor: pointer;
    /* Mouse pointer on hover */
}

#ref_hunt_counter {
    margin-top: 1vw;
    text-align: center;
}

#hunter_counter{
  padding-top: 1vw;;
}
.qa_button {
    padding: 0;
    border-radius: 5px;
    width: 80%;
}

.qa_button :hover {
    background-color: black;
    color: white;
}

#probe_hunt_section{
    margin-top: 0;
}

#ref_information label{
    color: #2c5483;
}

#ref_information input{
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.tablinks{
    background: transparent; 
    border: none;
    padding: 0.7vw;
    margin-right: 1vw;
}

.active{
    color: white;
    border-top-left-radius: 1vw;
    border-top-right-radius: 0.6vw;
    background: purple;
}

#add_reference .modal-dialog, #add_reference .modal-content {
    /* 80% of window height */
    height: 85%;
}

#add_reference .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

#tab_buttons{
    background: white;
}

#ref_product_counter {
    padding: 0.4vw;
    background: purple;
    color: white;
    border-radius: 0.2vw;
    margin-bottom: 0;
}

#ref_product_counter p {
    padding: 0.5vw;
    margin: 0 auto;
}

#ref_recognition {
    background: #2c8346;
    color: white;
}
